@import '../../styles/settings.scss';
@import '../../styles/mixins';

.container {
	background: $color-light;
	z-index: 0;
}

.imagesText {
	color: $color-vivid;
	position: absolute;
	z-index: 1;
	margin-left: 20px;
	margin-top: 50vh;
	font-weight: bold;

	@include lg {
		margin-left: 20px;
		margin-top: 58vh;
	}
}

.descriptionText {
	font-size: 1.1 * $base-size;
	text-align: center;
	margin-top: 20px;

	@include xl {
		font-size: 1.2 * $base-size;
	}
}

.main {
	// height: 500px;
	height: 60vh;
	overflow-x: hidden;

	@include lg {
		height: 65vh;
		width: 100%;
	}
}

.content {
	width: 200px;
	height: 100%;

	@include lg {
		width: 395px;
		height: 65vh;
	}
}

.marker {
	color: $color-vivid;
	position: absolute;
	top: 0px;
	left: 140px;
	font-family: monospace;
}

.image {
	width: 195px;
	// height: 500px;
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	@include lg {
		width: 395px;
	}

	@include lg {
		width: auto;
		height: 65vh;
	}

	@include xxl {
		height: 600px;
	}
}

.imageMobile {
	width: 98vw;
}

.images_section {
	overflow: hidden;
}

// .footerMobile {
// 	margin-top: 10px;
// 	font-size: $base-size;
// }
