@import '../../styles/settings.scss';
@import '../../styles/mixins';

.footer_wrapper {
	position: fixed;
	bottom: 0;
	background-color: $color-light;
	width: 100vw;
	padding-top: 8px;

	@include sm {
		background-color: transparent;
	}
}

.footer_wrapper p {
	font-size: $base-size;

	@include xl {
		font-size: 1.1 * $base-size;
	}
}
