@import './styles/settings.scss';

.container {
	background: $color-light;
}

.main {
	height: 500px;
	width: 100%;
}

.content {
	width: 400px;
	height: 100%;
}

.marker {
	color: $color-vivid;
	position: absolute;
	top: 0px;
	left: 140px;
	font-family: monospace;
}

.image {
	width: 390px;
	height: 65vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
