@import '../../styles/settings.scss';

.images_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
	z-index: 1;
}

.image {
	width: 20vw;
	height: 400px;
	object-fit: cover;
}

.image_wrapper {
	height: 400px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	margin: 3px;

	&:hover::after {
		content: '';
		background-color: $color-dark;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		position: absolute;
		transition: $transition;
		cursor: pointer;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover .text_wrapper {
		visibility: visible;
		z-index: 3;
		transition: $transition;
	}
}

.text_wrapper {
	color: $color-vivid;
	font-size: 1.6 * $base-size;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	visibility: hidden;
}

.text_wrapper p:first-child {
	font-size: 1.2 * $base-size;
}
